* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;

}
.elcontainer{
  padding: 70px 25px  0 25px;
width: 80%;
min-height: 100vh;
margin-left: 20%;
background-color: #171821;

}
.elcontainerCard{
  display: flex;
  justify-content:center;
  /* align-items: flex-start; */
  flex-wrap: wrap;
  padding: 30px;
background-color: #21222D;
}

h4{
    text-align: center;
    margin-left: 250px;
    width: 180px;
    height: 50px;
    background-color: #020735;
    color: #ffffff;
    border-radius: 15px;
    font-weight: 400;
    padding-top:10px ;
  


  }


  #button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    margin: 20px; /* Add margin for spacing */
    background-color: #4880FF; 
    width: 120px;
    height: 45px;
    font-size: 1rem;
display: flex;
align-items: center;
justify-content: center;
    color: white;
    border-radius: 80px;
}
#button:hover{

  background-color: #020735;
}